@media (min-device-pixel-ratio:1.5) {
    .border-1px {
        &:after {
            transform: scaleY(0.7);
        }
    }
}

@media (min-device-pixel-ratio:2) {
    .border-1px {
        &:after {
            transform: scaleY(0.5);
        }
    }
}